<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>布局文件</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./reset.css">
    <link rel="stylesheet" type="text/css" href="./icon.css">
    <link rel="stylesheet" type="text/css" href="./mdjs.css">
    <link rel="stylesheet" type="text/css" href="./markdown.css">
</head>
<body>

    <div class="md-wrap">
        <div class="md-head">
            <a class="md-title" href="#">
                测试，我是标题 - mdjs - 样式摘自kancloud
            </a>
        </div>
        <div class="md-body">
            <div class="md-body-left">
                <div class="md-body-left-tools md-body-left-tools-open">
                    <span class="icon-chevron-right" title="点击展开"></span>
                    <span class="icon-chevron-left" title="点击关闭"></span>
                </div>
                <div class="clear md-body-tabnav">
                    <span class="md-body-tabnav-item md-body-tabnav-active"><i class="icon icon-menu"></i>目录</span>
                    <span class="md-body-tabnav-item"><i class="icon icon-heart"></i>收藏</span>
                </div>

                <div class="md-body-tabcont md-body-tab-dir" style="display: block;">
                    <form class="md-body-tab-search-form c-gap-top c-gap-left c-gap-right" onsubmit="return false;" autocomplete="off">
                        <label class="md-body-tab-search-form-text">
                            <input type="text" name="keyword" placeholder="请输入搜索关键词...">
                        </label>
                        <button class="md-body-tab-search-form-btn icon-search" type="submit"></button>


                        <div class="md-body-search-down">
                            <ul>
                                <li>
                                    <p class="c-line-clamp1">测试<mark>测试测</mark>试测试测试测试测试测试测试测试测试测试测试测试</p>
                                </li>
                                <li>
                                    <p class="c-line-clamp1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                                </li>
                                <li>
                                    <p class="c-line-clamp1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                                </li>
                                <li>
                                    <p class="c-line-clamp1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                                </li>
                                <li>
                                    <p class="c-line-clamp1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                                </li><li>
                                    <p class="c-line-clamp1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                                </li>
                            </ul>
                        </div>
                    </form>

                    <div class="md-body-tab-dir-tree md-scroll">
                    f
                    </div>

                    
                </div>
            </div>

            <div class="md-body-right md-scroll">
                <div class="md-body-right-inner">
                <div class="markdown-body">
                    fd
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>