<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>布局文件</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./reset.css">
    <link rel="stylesheet" type="text/css" href="./icon.css">
    <link rel="stylesheet" type="text/css" href="./mdjs.css">
</head>
<body>

    <div class="md-wrap">
        <div class="md-head">
            <a class="md-title" href="#">
                测试，我是标题 - mdjs
            </a>
        </div>
        <div class="md-body">
            <div class="md-body-left">
                <div class="clear md-body-tabnav">
                    <span class="md-body-tabnav-item md-body-tabnav-active"><i class="icon icon-menu"></i>目录</span>
                    <span class="md-body-tabnav-item"><i class="icon icon-search"></i>搜索</span>
                    <span class="md-body-tabnav-item"><i class="icon icon-heart"></i>收藏</span>
                </div>

                <div class="md-body-tabcont md-scroll">
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                    测试<br>
                </div>

                <div class="md-body-tabcont md-body-tab-search" style="display: block;">
                    <form class="md-body-tab-search-form" onsubmit="return false;" autocomplete="off">
                        <label class="md-body-tab-search-form-text">
                            <input type="text" name="keyword" placeholder="请输入搜索关键词...">
                        </label>
                        <button class="md-body-tab-search-form-btn icon-search" type="submit"></button>
                        <!-- <button class="md-body-tab-search-form-btn md-body-tab-search-form-btn-loading icon-search" type="submit"></button> -->
                    </form>
                    <div class="md-body-tab-search-result md-scroll">
                        <ul>
                            <li>
                                <p class="c-line-clamp1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </li>
                            <li>
                                <p class="c-line-clamp1"><mark>fsdfds</mark>fsdfsd</p>
                            </li>
                            <li>
                                <p class="c-line-clamp1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </li>
                            <li>
                                <p class="c-line-clamp1"><mark>fsdfds</mark>fsdfsd</p>
                            </li>
                            <li>
                                <p class="c-line-clamp1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </li>
                            <li>
                                <p class="c-line-clamp1"><mark>fsdfds</mark>fsdfsd</p>
                            </li>
                            <li>
                                <p class="c-line-clamp1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </li>
                            <li>
                                <p class="c-line-clamp1"><mark>fsdfds</mark>fsdfsd</p>
                            </li>
                            <li>
                                <p class="c-line-clamp1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </li>
                            <li class="md-body-tab-search-result-active">
                                <p class="c-line-clamp1"><mark>fsdfds</mark>fsdfsd</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>