/**
 * @file 提示层 - loading
 * @author fe.xiaowu@gmail.com
 */

.zui-tips-loading {
    background: url(./loading.gif) center 10px no-repeat;
    -webkit-background-size: 30px;
            background-size: 30px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    max-width: 40%;
    padding: 50px 20px 10px;
    text-align: center;
}
